/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {  /* Для всех списков */
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Pages */
.main-container {
  flex-grow: 1;
}

.main-inner {
  min-width: 1440px;
}

.monopod-products {
  display: flex;
  background-color: #f0f0f0;
}

.monopods-page-title {
  margin-bottom: 34px;
}

.monopod-right-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.monopod-list.reset-list {
  width: 840px;
  padding-top: 70px;
  padding-left: 40px;
  flex-wrap: wrap;
  gap: 40px;
}

.sorting-block-wrapper {
  min-width: 840px;
  margin: 0;
  display: flex;
  background-color: #f0f0f0;

}

.button-upload-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 62px;
}

.page-container {
  width: 1160px;
}

.main-header {
  background-color:#FFE17F;
  color: #000000;
}

.search-button {
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.login-username {
  text-decoration: none;
  color: #000000;
}

.logout-button {
  opacity: 0.3;
  text-decoration: none;
  color: #000000;
}

.login-button {
  text-decoration: none;
  color: #000000;
}

.compare-button {
  text-decoration: none;
  color: #000000;
}

.cart-button {
  text-decoration: none;
  color: #000000;
}

.catalog-item-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.subcatalog-item-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.catalog-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-item {
  padding-right: 36px;
}

.monopods-title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

/* Filter */
.monopod-title-filter {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.monopod-title-sorting {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 205px;
}

.monopod-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

/* Label */
.catalog-filter-label {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
}

/* Item */
.monopod-card {
  background-color: #ffffff;
}

/* Link */
.monopod-card-link {
  text-decoration: none;
}

/* Title */
.monopod-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Price */
.monopod-card-price {
  line-height: 21px;
  color: #444444;
}

.button-upload-more {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Pagination */
.pagination {
margin-bottom: 78px;
}

.pagination-container {
  background-color: #ebebeb;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  color: #444444;
  text-decoration: none;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

/* Slider */
.slider-product-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-product-description {
  color: #444444;
}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.range-of-flight {
  font-size: 36px;
}

.range-of-flight-text {
  font-size: 16px;
  color: #444444;
}

.damage-radius {
  font-size: 36px;
}

.damage-radius-text {
  font-size: 16px;
  color: #444444;
}

.slider-number-text {
  margin: 0;
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

/* Список категорий каталога */

.catalog-category-list {
  list-style-type: none;
  gap: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;

}

.catalog-category-link {
  width: 160px;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding-top: 190px;
}

.catalog-category-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-category-link-fitness-bracelets {
  letter-spacing: -0.02em;
}

.catalog-category-link-vr::before {
  background-image: url("../images/vr-icon.svg");
}

.catalog-category-link-monopods::before {
  background-image: url("../images/monopods-for-selfie.svg");
  background-position: bottom;
}

.catalog-category-link-action-cameras::before {
  background-image: url("../images/action-cameras.svg");
}

.catalog-category-link-fitness-bracelets::before {
  background-image: url("../images/fitness-bracelets.svg");
}

.catalog-category-link-smart-watches::before {
  background-image: url("../images/smart-watches.svg");
}

.catalog-category-link-quadcopters::before {
  background-image: url("../images/quadcopters.svg");
}

/* Список преимуществ */

.advantages-description {
  color: #444444;
}

.delivery-info-link {
  position: relative;
  display: flex;
  width: 1160px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f0f0f0;
  color: #000000;
  padding: 40px 125px;
}

.delivery-info-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 103px;
  background-color: #ffe17f;
  background-image: url("../images/delivery-car-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-info-link::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url("../images/info-image.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(220, 220, 220, 0.5);


}

/* Блок "Связаться с нами" */

.contact-title {
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contact-description {
  color: #444444;
}

.transport-company {
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-subtitle {
  font-size: 24px;
  color: #444444;
}

.contacts-address-text {
  color: #444444;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  color: #444444;
}

.about-us-wrapper {
  position: relative;
}

.about-us-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 7px;
  margin-bottom: 70px;
  background-image: url("../images/black-stick-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}



/* Блок "Подпишитесь на рассылку" */

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-description {
  color: #444444;
}

.newsletter-additional-text {
  color: #444444;
}

/* Footer */

.footer-index {
  min-width: 1440px;
  min-height: 321px;
  background-color:#444444;
}

.footer-about-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-list-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
