/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {  /* Для всех списков */
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Pages */
.main-container {
  flex-grow: 1;
}

.monopod-products {
  display: flex;
  background-color: #f0f0f0;
}

.monopods-page-title {
  margin-bottom: 34px;
}

.monopod-right-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.monopod-list.reset-list {
  width: 840px;
  padding-top: 70px;
  padding-left: 40px;
  flex-wrap: wrap;
  gap: 40px;
}

.sorting-block-wrapper {
  min-width: 840px;
  margin: 0;
  display: flex;
  background-color: #f0f0f0;

}

.button-upload-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 62px;
}

.page-container {
  width: 1160px;
}

.header-container {
  display: block;
  width: 1040px;
  background-color:#ffe17f;
}

.catalog {
  gap: 20px;
}

.login-list {
  margin: 0;
  padding: 0;
  min-width: 231px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
}

.main-logo-link {
  width: 145px;
  margin-bottom: 30px;
}

.header-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;

}

.main-navigation {
  display: flex;
  align-items: center;
}

.right-navigation-wrapper {
  display: flex;
  gap: 36px;
}

.login-link-button {
  text-decoration: none;
  color: inherit;
}

.logout-link-button {
  text-decoration: none;
  color: inherit;
  display: none;
}

.search-input {
  width: 360px;
  height: 40px;
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding-left: 48px;
  background-color: #ffe17f;

}

/* Slider */
.slider {
  display: flex;
}

.slider-right-wrapper {
  display: flex;
  flex-direction: column;

}

.button-details {
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
}

.characteristics {
  display: flex;
}

.characteristics-wrapper:not(:last-child) {
  margin-right: 20px;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  margin-bottom: 70px;
}

.slider-pagination-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
}

.slider-pagination-button-current {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 50%;
  border: 2px solid #000000;
}

.slider-image {
  display: block;
}

.slider-wrapper {
  margin-right: 40px;
  width: 560px;
  min-height: 560px;
  position: relative;
}

.slider-buttons-wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.main-header {
  min-width: 1160px;
  min-height: 300px;
  color: #000000;
  padding: 20px 60px 0 60px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ffffff 0, #ffffff 40px, #ffe17f 40px, #ffe17f 100%);

}

.search-button {
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  border-left: none;
  text-align: center;
  padding: 10px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  font-family: 'Rubik';
  font-size: 16px;
}

.search-form {
  width: 520px;
  margin: 0;
  display: flex;
  margin-right: 54px;
}

.search-label {
  position: relative;
}

.search-label::before {
  content: "";
  position: absolute;
  background-image: url("../images/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 12px;
}

.login-username {
  text-decoration: none;
  color: #000000;
}

.logout-button {
  opacity: 0.3;
  text-decoration: none;
  color: #000000;
}

.login-button {
  text-decoration: none;
  color: #000000;
}

.compare-button {
  text-decoration: none;
  color: #000000;
}

.cart-button {
  text-decoration: none;
  color: #000000;
}

.catalog-item-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: inherit;
}

.subcatalog-item-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.catalog-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-item {
  padding-right: 36px;
}

.monopods-title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

/* Filter */
.monopod-title-filter {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.monopod-title-sorting {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 205px;
}

.monopod-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter-wrapper {
  width: 320px;
}

.field {
  width: 557px;
  min-height: 55px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  font-size: 18px;
  line-height: 30px;
  background-color: inherit;
  box-sizing: content-box;
}


/* Label */
.catalog-filter-label {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
}

/* Item */
.monopod-card {
  background-color: #ffffff;
}

/* Link */
.monopod-card-link {
  text-decoration: none;
}

/* Title */
.monopod-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Price */
.monopod-card-price {
  line-height: 21px;
  color: #444444;
}

.button-upload-more {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Pagination */
.pagination {
margin-bottom: 78px;
}

.pagination-container {
  background-color: #ebebeb;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  color: #444444;
  text-decoration: none;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

/* Slider */
.slider-product-title {
  width: 545px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-image: url("../images/slider-left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-product-description {
  margin: 0;
  width: 560px;
  color: #444444;
}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.range-of-flight {
  font-size: 36px;
}

.range-of-flight-text {
  font-size: 16px;
  color: #444444;
}

.damage-radius {
  font-size: 36px;
}

.damage-radius-text {
  font-size: 16px;
  color: #444444;
}

.slider-number-text {
  margin: 0;
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

/* Список категорий каталога */

.catalog-category-list {
  list-style-type: none;
  gap: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;

}

.catalog-category-link {
  width: 160px;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding-top: 190px;
}

.catalog-category-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-category-link-fitness-bracelets {
  letter-spacing: -0.02em;
}

.catalog-category-link-vr::before {
  background-image: url("../images/vr-icon.svg");
}

.catalog-category-link-monopods::before {
  background-image: url("../images/monopods-for-selfie.svg");
  background-position: bottom;
}

.catalog-category-link-action-cameras::before {
  background-image: url("../images/action-cameras.svg");
}

.catalog-category-link-fitness-bracelets::before {
  background-image: url("../images/fitness-bracelets.svg");
}

.catalog-category-link-smart-watches::before {
  background-image: url("../images/smart-watches.svg");
}

.catalog-category-link-quadcopters::before {
  background-image: url("../images/quadcopters.svg");
}

/* Список преимуществ */

.advantages-description {
  color: #444444;
}

.delivery-info-link {
  position: relative;
  display: flex;
  width: 1160px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f0f0f0;
  color: #000000;
  padding: 40px 125px;
}

.delivery-info-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 103px;
  background-color: #ffe17f;
  background-image: url("../images/delivery-car-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-info-link::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url("../images/info-image.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(220, 220, 220, 0.5);


}

/* Блок "Связаться с нами" */
.contact {
  display: flex;
  margin-bottom: 80px;
}

.contact-title {
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contact-description {
  width: 510px;
  margin: 0;
  color: #444444;
}

.transport-company {
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-subtitle {
  font-size: 24px;
  color: #444444;
  margin-bottom: 0;
}

.contacts-address-text {
  color: #444444;
  margin-bottom: 0;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: #444444;
}

.about-us-wrapper {
  max-width: 520px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-us-list {
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.contacts-wrapper {
  max-width: 532px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.about-us-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 7px;
  margin-bottom: 70px;
  background-image: url("../images/black-stick-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}



/* Блок "Подпишитесь на рассылку" */
.newsletter {
  background-color: #f0f0f0;
}

.newsletter-title {
  min-width: 348px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-description {
  max-width: 560px;
  color: #444444;
}

.newsletter-form {
  display: flex;
  width: 810px;
  min-height: 57px;
  background-color: inherit;
  margin-bottom: 55px;
}

.newsletter-button {
  width: 253px;
  border: 3px solid #c4c4c4;
}

.newsletter-additional-text {
  color: #444444;
}

/* Footer */

.footer-index {
  min-width: 1440px;
  min-height: 321px;
  background-color:#444444;
}

.footer-about-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-list-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
